@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;




::-webkit-scrollbar{
 width: 10px;
}


:-webkit-scrollbar-track{
  border-radius: 5px;
 background-color:inset 0 0 10px rgba(0,0,0,0.25);
}


::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: gray;
}

.roboto{
  font-family: 'Roboto', sans-serif;

}


.garden-1{
  background: linear-gradient(rgba(27, 24, 24, 0.596),rgba(19, 18, 18, 0.74)),url('/assets/pexels-matteo-badini-4496324.jpg');

}


.garden-2{
  background: linear-gradient(rgba(7, 7, 7, 0.616),rgba(7, 7, 7, 0.329)),url('/assets/pexels-karolina-grabowska-4207910.jpg');
}


.header{
background: linear-gradient(rgba(7, 7, 7, 0.808),rgba(7, 7, 7, 0.712)),url('/assets/pexels-martin-péchy-1866149.jpg');
background-position: center;
}


.blue-1{
  background-color: #145369 ;
}

.login{
  background: linear-gradient(rgba(7, 7, 7, 0.808),rgba(7, 7, 7, 0.712)),url('/assets/phillip-goldsberry-fZuleEfeA1Q-unsplash.jpg');
  background-position: center;
}

.loginpage{
  background: linear-gradient(rgba(0, 0, 0, 0.408), rgba(0, 0, 0, 0.412)),url('/assets/korie-cull-IzIME1jwjCY-unsplash.jpg');
  background-position: center;
  background-size: cover;
}

table tbody tr:nth-of-type(even){
background-color: #b0bcc0;
}

.counter::before{
  content: '';
  margin-bottom: -3rem;
  position: absolute;
  top: 0;
  right: 0;

}